<div class="flex flex-col justify-center items-center min-h-screen p-5 bg-gray-100">
    <img src="/assets/logo_p6.png" alt="MDD Logo" class="w-50 h-auto mb-10" />
    <div class="flex gap-5">
        <button routerLink="/login" class="py-3 px-6 border-2 border-black bg-transparent text-black rounded-lg text-sm font-medium cursor-pointer transition-all duration-300 min-w-30 hover:bg-violet-500 hover:text-white">Se connecter</button>
        <button routerLink="/register" class="py-3 px-6 border-2 border-black bg-transparent text-black rounded-lg text-sm font-medium cursor-pointer transition-all duration-300 min-w-30 hover:bg-violet-500 hover:text-white">S'inscrire</button>
    </div>
</div>  